{% extends 'layout.html' %}
{% block title %}WhiteBoard Home{% endblock %}
{% block nav %}
<a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
{% endblock %}

{% block content %}
 <div class="show-message" style="text-align: center; width: 360px; margin:0 auto;">
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-warning alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span></button>
             {{message}}
     </div>
     {% endfor %}
     {% endif %}
     {% endwith %}
 </div>
    {% if completed %}
        <div class="evaluation-completed__container container text-center">
            <h1 class="text-center">Thank you for completing the Close Group Evaluation Form!</h1>
            <a href="/profile/myProfile" class="link_404">Return</a>
        </div>
    {% else %}
    <div class="content">
        <h2 class="text-center">Close Group Evaluation</h2>
{#    action="{{ url_for('close_group', group_id=group_id) }}" #}
        <form  id="closeGroupForm">
            <div class="close-group-form__container container text-center">
                <div class="row">
                    <div class="close-group-form__content col-lg-12">
                        <div class="form-group">
                             <label for="open_reason">Reason for Forming Group</label>
                             <input type="text" name="open" class="form-control" id="open_reason" placeholder="" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="close-group-form__content col-lg-12">
                        <div class="form-group">
                             <label for="close_reason">Reason for Closing Group</label>
                             <input type="text" name="close" class="form-control" id="close_reason" placeholder="" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for user in group_members %}
                        <div class="form-group col-lg-6">
                            <div class="ratings">
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                            </div>

                             <label for="user-rating">Rate Your Group Mate</label>
                             <p> {{ user.user_name }}</p>
                        <form>
                        <div class="row pollOptions-option__parent">
                            <div class="radio col-lg-12 text-center">
                                <input type="radio" id="add-to-whitelist-{{ user.user_id }}"  name="wb-bb-option" value="Whitelist">
                                <label class="groupvote-option-label" for="add-to-whitelist-{{ user.user_id }}" >Add to White List</label>
                            </div>
                            <div class="radio col-lg-12">
                                <input type="radio" id="add-to-blacklist-{{ user.user_id }}" name="wb-bb-option" value="Blacklist">
                                <label class="groupvote-option-label" for="add-to-blacklist-{{ user.user_id }}">Add to Black List</label>
                            </div>
                            <div class="radio col-lg-12">
                                <input type="radio" id="skip-lists-{{ user.user_id }}" name="wb-bb-option" value="Skip">
                                <label class="groupvote-option-label" for="skip-lists-{{ user.user_id }}">Skip</label>
                            </div>
                        </div>
                            </form>


                        </div>
                    {% endfor %}

                </div>

                <div class="container text-center">
                        <button type="submit" class="btn btn-primary" name="submit-closeEvalForm">Close Group</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    <script>
    const stars = document.getElementsByClassName('fas fa-star');

    const starRating = document.querySelectorAll('.ratings');

    let userRating = {};



    for(let i = 0; i < starRating.length; i++){
        for(let j = 0; j < starRating[i].children.length; j++){
            starRating[i].children[j].addEventListener('mouseover', function(){
                {#console.log(starRating[i].children[j]);#}

                for(let k = 0; k < starRating[i].children.length; k++){
                    starRating[i].children[j].classList.remove('fas');
                    starRating[i].children[j].classList.add('far');
                    {#starRating[i].children[j].classList.add('far');#}
                }

                for(let k = 0; k <= j; k++){
                    starRating[i].children[j].classList.add('fas');
                }
            })

            starRating[i].children[j].addEventListener('click', function(){
                for (let m = 0; m < starRating[i].children.length; m++){
                    starRating[i].children[m].style.color = 'black';
                }
                let currentRating = j + 1;

                for(let p = 0; p < j + 1; p++){
                    starRating[i].children[p].style.color = 'orange';
                }
                userRating[i] = currentRating;

                console.log(userRating);
            })
        }
    }

    $('#closeGroupForm').submit(function(){
       event.preventDefault();
       let wbBBOptions = [];
       let checkboxes = $('input[name="wb-bb-option"]:checked').map(function() {
          wbBBOptions.push($(this).val());
        })


        //send userRating data array to flask route for data handling
        $.ajax({
            url: '/group/{{ group_id }}/close',
            contentType: "application/json;charset=utf-8",
            type: 'POST',
            data: JSON.stringify({
                openReason: $('#open_reason').val(),
                closeReason: $('#close_reason').val(),
                userRatings: userRating,
                wbBBOptions: wbBBOptions
            }),
            success: function(response){
                window.location.href = response.url
            },
            error: function(response){
                alert('Error!');
                console.log(response);
            }
        });


    });

    </script>
{% endblock %}