{% extends 'layout.html' %}
{% block title %}Administrator Site{% endblock %}
{% block content %}

<h2 style="text-align:center;font-size:26px;padding-top: 20px;padding-bottom: 20px;">Users pending acceptance or rejection</h2>
<div class="main">
 <table style="text-align:center;">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Interest</th> 
    <th>Credential</th> 
    <th>Reference</th>
    <th>Message</th>
    <th>Accept</th>
    <th>Reject</th>
  </tr>

{% for i in applied %}
    
   <tr>
    <td>{{i.username}}</td>
    <td>{{i.email}}</td>
    <td>{{i.interest}}</td>
    <td>{{i.credential}}</td>
    <td>{{i.reference}}</td>
    {%if i.message %}
        <td>{{i.message}}</td>
    {%else%}
        <td> Not an appeal</td>
    {%endif%}
   
    <td>
    <form action="{{ url_for('admin') }}" method="Post">
        <input type="hidden" name="username" value="{{i.username}}" />
        <input type="hidden" name="email" value="{{i.email}}" />
        <input type="hidden" name="interest" value="{{i.interest}}" />
        <input type="hidden" name="credential" value="{{i.credential}}" />
        <input type="hidden" name="reference" value="{{i.reference}}" />
        {%if i.message %}
        <input type="hidden" name="message" value="{{i.message}}" />
        {%else%}
        <input type="hidden" name="message" value="NONE" />
        {%endif%}    
    <input type="submit" name= "Approve" value="Approve" />
</form>
    </td>

    <td> <form action="{{ url_for('admin') }}" method="Post">
        <input type="hidden" name="username" value="{{i.username}}" />
        <input type="hidden" name="email" value="{{i.email}}" />
        {%if i.message %}
        <input type="hidden" name="message" value="{{i.message}}" />
        {%else%}
        <input type="hidden" name="message" value="NONE" />
        {%endif%}    
    <input type="submit" name="Reject" value="Reject" />
  </form>
</td>

  </tr>
{% endfor %}
</table>
</div>

{% endblock %}