{% extends 'layout.html' %}
{% block title %}WhiteBoard Home{% endblock %}
    {% block nav %}
    <a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
    {% endblock %}

{% block content %}
    <div class="show-message" style="text-align: center; width: 360px; margin:0 auto;">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-warning alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">×</span></button>
                 {{message}}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
    </div>

    <div class="content">


    {% if poster_account %}
    <h2>{{ poster_account.user_name }}'s Profile</h2>
        <table>
            <tr>
                <td><b>Username:</b></td>
                <td>{{ poster_account.user_name }}</td>
            </tr>
            <tr>
                <td><b>User Type:</b></td>
                <td>{{ poster_account.user_type }}</td>
            </tr>
            <tr>
                <td><b>Reputation:</b></td>
                <td>&nbsp;{{ poster_account.user_scores }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ poster_account.email }}</td>
            </tr>
        </table>
         <hr>

           <h4>Write this user a compliment! </h4>
</br>

          <form action="{{ url_for('poster_profile',poster_id =poster_account.user_id ) }}" method="post" autocomplete="off">
                
                        <textarea name="content"  rows="2" placeholder="Enter your message here"
                                  class="form-control" required></textarea>
                                  </br>        
                            <button class="btn btn-primary btn-block">Send</button>
            </form>


         <hr>
         
        <h4 style="color: #4a536e; font-size: 22px;">This User's Groups</h4>
        {% if others_group_info %}
            {% for name in others_group_info %}
                 <a href="{{ url_for('into_group', group_id=name.group_id) }}">
                <button class="btn btn-primary" style="font-size: 15px; width: 200px;
                 margin:10px 20px; word-break: break-all; height: 100px; ">
                        {{ name.group_name }}
                </button></a>
            {% endfor %}
        {% endif %}
        <hr>
         <h2>Post History</h2>
        <div class="main" style="padding: 0; background-color: #e2e1e8; margin: 0">
    {% for post in post_history %}
       <ul>
            <li>
                <div class="post-group">
                    <p class="post-title"><a href="{{ url_for('into_reply', post_id=post.post_id) }}">
                        {{ post.post_title }}</a></p>
                    <P class="post-content">{{ post.post_content }}</P>
                    <div class="post-info">
                        <span class="post-author">{{ post.user_name }}</span>
                        <span class="post-time">{{ post.post_time }}</span>
                    </div>
                </div>
            </li>
       </ul>
    {% endfor %}
    </div>


    {% else %}
        <h2>My Profile</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account.user_name }}</td>
            </tr>
            <tr>
                <td>User Type:</td>
                <td>{{ account.user_type }}</td>
            </tr>
            <tr>
                <td>Reputation:</td>
                <td>&nbsp;{{ account.user_scores }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account.email }}</td>
            </tr>
        </table>
        {% if account.user_type == 'SuperUser' %}
        <hr>
        <a href="{{ url_for('listofAdminpages') }}">
                <button class="btn btn-primary" style="font-size: 25px; width: 200px;
                 word-break: break-all; height: 80px; ">
                        Management
                </button></a>
        {% endif %}
        <hr>
        <h4 style="color: #4a536e; font-size: 22px;">My Groups</h4>
        {% if group_info %}
            {% for name in group_info %}
                 <a href="{{ url_for('into_group', group_id=name.group_id) }}">
                <button class="btn btn-primary" style="font-size: 15px; width: 200px;
                 margin:10px 20px; word-break: break-all; height: 100px; ">
                        {{ name.group_name }}
                </button></a>
            {% endfor %}
            {% else %}
            <a>You are currently not in any active groups...</a>
        {% endif %}
        <hr>
        <h4 style="color: #4a536e; font-size: 22px;">My Completed Groups</h4>
            {% if completed_projects %}
                {% for project in completed_projects %}
                    <a href="{{ url_for('into_group', group_id=project.group_id) }}">
                    <button class="btn btn-success" style="font-size: 15px; width: 200px;
                     margin:10px 20px; word-break: break-all; height: 100px; ">
                            {{ project.group_name }}
                    </button></a>
                {% endfor %}
                {% else %}
                <a>You currently don't have any completed projects/groups...</a>
            {% endif %}
        <hr>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Create a Group</button>
        <form action="{{ url_for('create_group') }}" method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="margin: 0 auto;">Create a Group</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group" style="box-sizing: border-box;">
                            <input type="text" name="group_name" placeholder="Enter Group Name" required
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="describe"  rows="7" placeholder="Enter Group Description Here..."
                                    required  class="form-control"></textarea>
                            </div>
                    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close
                                </button>

                                <button type="submit" class="btn btn-primary">
                                    Create
                                </button>
                            </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </form>



         <hr>

         <h4 style="color: #4a536e; font-size: 22px;padding-top: 10px;padding-bottom: 10px">Pending Invitations to Groups</h4>
        {% if invitation %}

                <div class="main">
                <table style="text-align:center;">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Accept</th>
                    <th>Reject</th>

                </tr>
                {%for invite in invitation%}

                 <tr>
                    <td>{{invite.group_name}}</td>
                    <td>{{invite.group_describe}}</td>


                <td>
                    <form action="{{ url_for('profile') }}" method="Post">
                    <input type="hidden" name="group_id" value="{{invite.group_id}}" />
                    <input type="submit" name= "Approve" value="Approve" />
                    </form>
                </td>

                <td>
                    <form action="{{ url_for('profile') }}" method="Post">
                    <label for="rejection">
                        <i class="fas fa-user"></i>
                    </label>
                        <input type="rejection" name="rejection" placeholder="Reason for Rejection" id="rejection" required>
                     <input type="hidden" name="group_id" value="{{invite.group_id}}" />
                    <input type="submit" name= "Reject" value="Reject" />
                    </form>
                </td>

                </tr>
            {% endfor %}
            </table>
            </div>

        {% endif %}

        <hr>

        <h4 style="color: #4a536e; font-size: 22px;padding-top: 10px;padding-bottom: 10px">Add other users to your whitelist or blacklist</h4>

         <form style = "padding-bottom: 10px;"action="{{ url_for('profile') }}" method="Post">
                <label for="user_whitelist">
                    <i class="fas fa-user"></i>
                </label>
                    <input type="user_whitelist" name="user_whitelist" placeholder="Add User to your whitelist" id="user_whitelist" required>
                    <input type="submit" name= "whitelist" value="whitelist" />
                    </form>

        <form action="{{ url_for('profile') }}" method="Post">
                <label for="user_blacklist">
                    <i class="fas fa-user"></i>
                </label>
                    <input type="user_blacklist" name="user_blacklist" placeholder="Add User to your blacklist" id="user_blacklist" required>
                    <input type="submit" name= "blacklist" value="blacklist" />
                    </form>

        <hr>

        <table style="text-align:center;border: 1px solid black;">
        <tr style="text-align:center;border: 1px solid black;">
            <th style="text-align:center;border: 1px solid black;"><h4 style="color: #4a536e; font-size: 22px;padding-top: 10px;padding-bottom: 10px">Users in Whitelist</h4></th>
            <th style="text-align:center;border: 1px solid black;" ><h4 style="color: #4a536e; font-size: 22px;padding-top: 10px;padding-bottom: 10px">Users in Blacklist</h4>
</th>
        </tr>
        <tr style="text-align:center;border: 1px solid black;">
        <td style="text-align:center;border: 1px solid black;">

        {%if friends%}
            <table >
                <tr>
                    <th>Name</th>
                </tr>
                {%for user in friends%}
                <tr>
                    <td>{{user.user_name_friend}}</td>
                </tr>
                {%endfor%}
            </table>
        {%endif%}
    </td>
    <td style="text-align:center;border: 1px solid black;">

        {%if blocked%}
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                {%for user in blocked%}
                <tr>
                    <td>{{user.user_name_blocked}}</td>
                </tr>
                {%endfor%}
            </table>
        {%endif%}
    </td>
        </tr>
        </table>

        <hr>
        <h2>Post History</h2>
        <div class="main" style="padding: 0; background-color: #e2e1e8; margin: 0">
    {% for post in post_history %}
       <ul>
            <li>
                <div class="post-group">
                    <p class="post-title"><a href="{{ url_for('into_reply', post_id=post.post_id) }}">
                        {{ post.post_title }}</a></p>
                    <P class="post-content">{{ post.post_content }}</P>
                    <div class="post-info">
                        <span class="post-author">{{ post.user_name }}</span>
                        <span class="delete" style="margin: 20px;">
                            <a href="{{ url_for('delete_post', post_id=post.post_id) }}">Delete</a></span>
                        <span class="post-time">{{ post.post_time }}</span>
                    </div>
                </div>
            </li>
       </ul>
    {% endfor %}
    </div>

{% endif %}

</div>


{% endblock %}


