{% extends 'layout.html' %}
{% block title %}WhiteBoard Account Settings{% endblock %}
{% block content %}
<h1 style="text-align: center; padding-top: 60px;"> Reset Password</h1>
		<div class="register">
			<!--<h1>Reset Password</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div> -->
			<form action="{{ url_for('reset_password') }}" method="post" autocomplete="off">
				
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>

				<label for="old_password">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="old_password" placeholder="Old Password" id="old_password" required>

				<label for="new_password">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="new_password" placeholder="New Password" id="new_password" required>


				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Submit">
			</form>
		</div>
{% endblock %}